body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    height: 100vh;
}

label,
button {
    cursor: pointer;
}

.box__error {
    margin: 10px;
    color: red;
}

.box__error {
    display: none;
}

.box__file {
    display: none;
}

.box__file + label {
    cursor: pointer;
}

.box__input .select_file:hover {
    color: #39bfd3;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
    border: 0px;
}

.box__button:hover {
    background-color: #0f3c4b;
}

.loadfile img {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

form.box {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;

    background: #c8dadf;
    text-align: center;
    height: 100%;
    min-height: 200px;
    min-width: 200px;
}

#image_box {
    margin: 20px auto;
    display: table-cell;
    vertical-align: middle;
}

#image {
    width: 300px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: inherit;
    display: none;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
